/*------------------------------------*\
    #MODAL
\*------------------------------------*/
[role="media-modal"] {
    z-index: 70000;
}

[role="media-modal"] .modal-title {
    font-size: 1.2em;
}

[role="media-modal"] .modal-dialog {
    width: 85%;
    margin: 45px auto;
}

[role="media-modal"] .modal-body {
    padding: 0;
}

/*------------------------------------*\
    #IFRAME
\*------------------------------------*/
[role="media-frame"] {
    width: 100%;
    height: 595px;
}

/*------------------------------------*\
    #TINYMCE
\*------------------------------------*/
div.mce-edit-area {
    border-right-width: 1px !important;
}
