.comments {
    margin: 10px 10px 13px 10px;
}

.comment {
    margin: 0  !important;
}

.comment .sub-comments {
    margin-left: 50px  !important;
}

.comment a:hover {
    text-decoration: none;
}

.comment .user-block .img-circle{
    width: 40px !important;
    height: 40px !important;
}

.user-block {
    margin: 8px 8px 8px 8px !important;
}

.box-footer {
    border-radius: 0 0 3px 3px !important;
    border-top: 1px solid #eee !important;
    padding: 0 !important;
}

.box-comments .box-comment {
    padding: 0 0 !important;
}

.user-block .username, .user-block .info, .user-block .comment {
    display: block  !important;
    margin-left: 50px  !important;
}

.user-block .info p{
    margin-bottom: 4px !important;
}

.user-block .description{
    font-size: 14px !important;
}

.comment .avatar img, .comment-form .avatar img,
.sub-comments .avatar img, .sub-comments .comment-form .avatar img {
    border: 1px solid #d2d2d2;
    background: #f6f8f9;
    border-radius: 4px;
}

.comment .avatar, .comment-form .avatar {
    float: left;
    margin-right: 10px;
}
.comment .avatar {
    margin-top: 3px;
}

.comment-form .avatar {
    margin-top: 0;
}

.comment .avatar img, .comment-form .avatar img {
    width: 48px;
    height: 48px;

}
.sub-comments .avatar img, .sub-comments .comment-form .avatar img {
    width: 38px;
    height: 38px;
}

.comment .author {
    font-weight: bold;
}

.comment .comment-text {
    margin: 3px 0;
}

.comment .sub-comments .sub-comments {
    margin-left: 50px;
}

.comment .comment-header, .comment .comment-footer {
    font-size: 0.9em;
    opacity: 0.6;
}

.comment:hover .comment-header, .comment:hover .comment-footer {
    /* opacity : 0.9; */
}

.comment:hover a {
    opacity: 1;
}

.comment .display-avatar, .comment-form .display-avatar {
    margin-left: 60px;
}

.sub-comments .display-avatar {
    margin-left: 55px;
}

.comment-form {
    margin-top: 10px;
}

.comment-form-reply {
    margin-top: -8px  !important;
    margin-bottom: 8px  !important;
}

.comment-form .comment-fields .row {
    margin: 0;
}

.comment-form .comment-fields div[class^="col"] {
    padding-left: 0 !important;
    padding-bottom: 0 !important;
}

.comment-form .comment-fields .control-label {
    font-weight: normal;
    margin-bottom: 2px;
    font-size: 0.9em;
}

.comment-form .comment-fields .form-group {
    margin-bottom: 0;
}

.comments-main-form .comment-fields-more, .comments-main-form .reply-cancel {
    display: none;
}

.comment-form .buttons .btn {
    margin-right: 5px;
}

.comment-form .comment-fields-more {
    width: 100%;
}

.comment-form .fields {
    width: auto;
    overflow: hidden;
}

.comment-form .buttons {
    float: right;
    margin: 0 10px 0 10px;
}

.comment-form textarea {
    resize: vertical;
}

.dot-left:before, .dot-right:after {
    content: "\2022";
    display: inline-block;
    margin: 0 5px;
}

@media screen and (max-width: 768px) {
    .comment .sub-comments .sub-comments {
        margin-left: 20px;
    }
}

@media screen and (max-width: 540px) {
    .comment-form .buttons {
        float: none;
        margin-bottom: 10px;
    }
}

.recent-comments .panel-body{
    padding: 10px 10px 10px 5px;
}
.recent-comments .recent-comment{
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
}
.recent-comments .recent-comment .avatar{
    border: 1px solid #ddd; 
    border-radius: 3px;
}  
.recent-comments .recent-comment .author{
    font-weight: normal !important;
    font-size: 0.8em;
    width: 70px; 
}       
.recent-comments .recent-comment .time{
    font-size: 0.7em;
}       
.recent-comments .recent-comment .content{
    font-size: 0.8em;
}