
.alert-wrap {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height .7s linear;
}

.alert-wrap:hover{
    cursor: pointer
}

.alert-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000;
    opacity: .4;
    -ms-filter: alpha(Opacity=40);
    filter: alpha(opacity=40)
}

.alert-wrap>.alert {
    margin: 0;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35);
    border-radius: 0;
    text-align: left
}

.alert-wrap>.alert>.media {
    margin: 0
}

.alert-wrap>.alert>.media>.media-body {
    min-width: 150px;
    width: auto;
    vertical-align: middle
}

#page-alert>.alert-wrap>.alert {
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.04)
}

.alert-wrap.in {
    max-height: 500px;
    transition: max-height 1s linear
}

.floating-container .animated.alert-wrap {
    overflow: visible
}

.floating-container .animated.alert-wrap>.alert {
    border-radius: 0
}

.alert-message,
.alert-title {
    margin-bottom: 1px;
    padding-right: 2ex
}

.alert-title {
    font-size: 1.12em
}

.alert-title:empty {
    display: none
}

.alert-primary .alert-icon {
    color: #fff
}

.alert-info .alert-icon {
    color: #fff
}

.alert-success .alert-icon {
    color: #fff
}

.alert-warning .alert-icon {
    color: #fff
}

.alert-danger .alert-icon {
    color: #fff
}

.alert-mint .alert-icon {
    color: #fff
}

.alert-purple .alert-icon {
    color: #fff
}

.alert-pink .alert-icon {
    color: #fff
}

.alert-dark .alert-icon {
    color: #fff
}

#floating-top-right {
    position: fixed;
    text-align: right;
    top: 7px;
    right: 7px;
    left: 7px;
    z-index: 99999;
}

#floating-top-right .alert-wrap {
    display: inline-block;
    clear: right;
    float: right;
    margin-bottom: 5px;
    position: relative;
    z-index: 99999;
    -moz-box-shadow: 0 0 12px #999;
    -webkit-box-shadow: 0 0 12px #999;
    box-shadow: 0 0 12px #999;
    opacity: .95;
    -ms-filter: alpha(Opacity=95);
    filter: alpha(opacity=95)
}

#floating-top-right .alert-wrap:hover {
    -moz-box-shadow: 0 0 12px #454545;
    -webkit-box-shadow: 0 0 12px #454545;
    box-shadow: 0 0 12px #454545;
    opacity: 1;
    -ms-filter: alpha(Opacity=100);
    filter: alpha(opacity=100);
}

@media(min-width:768px) {
    #floating-top-right {
        left: auto;
        max-width: 727px
    }
}

@media(min-width:992px) {
    #floating-top-right {
        left: auto;
        max-width: 50%
    }
}

@media(min-width:1200px) {
    #floating-top-right {
        left: auto;
        max-width: 35%
    }
}


.alert {
    border-radius: 0;
    border: 0;
    padding: 15px 2em 15px 15px;
    position: relative
}

.alert .alert-link {
    text-decoration: underline;
    font-weight: 600
}

.alert .alert-link:hover {
    text-decoration: underline
}

.alert .close {
    font-size: 12.5px;
    text-shadow: none;
    opacity: .7;
    position: absolute;
    left: auto;
    right: 10px;
    top: 10px
}

.alert button.close {
    padding: 1px;
    border-radius: 20px;
    transition: all, 0.3s
}

.alert button.close>span:not(.sr-only) {
    display: block;
    width: 1em;
    height: 1em;
    line-height: .8em
}

.alert button.close:hover {
    opacity: .55
}

.alert button.close:active {
    opacity: .3
}

.alert-primary {
    background-color: #6ab5f1;
    border-color: transparent;
    border-left: 3px solid #0f80db;
    color: #fff
}

.alert-primary .close,
.alert-primary .alert-link {
    color: #fff
}

.alert-info {
    background-color: #1bc7dc;
    border-color: transparent;
    border-left: 3px solid #0c6f7b;
    color: #fff
}

.alert-info .close,
.alert-info .alert-link {
    color: #fff
}

.alert-success {
    background-color: #9cc56c;
    border-color: transparent;
    border-left: 3px solid #648e33;
    color: #fff
}

.alert-success .close,
.alert-success .alert-link {
    color: #fff
}

.alert-warning {
    background-color: #f9b450;
    border-color: transparent;
    border-left: 3px solid #d58003;
    color: #fff
}

.alert-warning .close,
.alert-warning .alert-link {
    color: #fff
}

.alert-danger {
    background-color: #ed7876;
    border-color: transparent;
    border-left: 3px solid #db1c18;
    color: #fff
}

.alert-danger .close,
.alert-danger .alert-link {
    color: #fff
}

.alert-mint {
    background-color: #35bbae;
    border-color: transparent;
    border-left: 3px solid #1a665f;
    color: #fff
}

.alert-mint .close,
.alert-mint .alert-link {
    color: #fff
}

.alert-purple {
    background-color: #c288cc;
    border-color: transparent;
    border-left: 3px solid #9540a3;
    color: #fff
}

.alert-purple .close,
.alert-purple .alert-link {
    color: #fff
}

.alert-pink {
    background-color: #e96793;
    border-color: transparent;
    border-left: 3px solid #c81853;
    color: #fff
}

.alert-pink .close,
.alert-pink .alert-link {
    color: #fff
}

.alert-dark {
    background-color: #4f5e65;
    border-color: transparent;
    border-left: 3px solid #1d2428;
    color: #fff
}

.alert-dark .close,
.alert-dark .alert-link {
    color: #fff
}